body{
    background-color: #eaeaea !important;
}


.navbar{
    height: 30px;
    background-color: rgb(204, 19, 62) !important;
    width: 100%;
    
}

.navbar-brand{
    font-size: 15px !important;
    padding-left: 70px !important;
    color: aliceblue !important;
}
.navbar-nav{
    padding-left: 50% !important;
    /* padding-right: 40px !important; */
    font-size: 15px !important;
    color: aliceblue !important;
    --bs-nav-link-color:aliceblue !important;
   
}

/* topnavbar end */


.search__box{
    width: 100%;
    background-color: rgb(224, 28, 73);
   padding: 10px;
    height: 60px;
   
    
    justify-content: center !important;
    /* padding-top: 12px; */
    display: flex !important;
    

}
.vertical-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.vertical-center p{
    display: flex !important;
    align-items: end;
   
}
.search__box input{
    height: 25px;
    width: 500px;
    justify-content: center !important;
    align-items: center;
  
}
.search__box button{
    height: 25px;
    width: 150px;
    text-align: center !important;
    
}
.btn{
    text-align: center !important;
    --bs-btn-font-size: 15px !important;
    --bs-btn-line-height: 1 !important;
}
@media only screen and(max-width:480px){
    .search-box span{
        display: none;
    }
}

.search__box .cart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    cursor: pointer;
    color: aliceblue;
    padding-left: 100px;
}
.search__box .row{
    display: flex !important;
}

.mb-5{
    margin-bottom: -10px !important;
 
}

.container-fluid.search__box {
    margin-bottom: 10px;
}




/* searchbar end */

.container .section3{
    /* margin-top: 10px !important; */
   padding-top: 500px;
   
}

.boxModel{
    background-color: #ffffff !important;
    height: auto;
    width: 200px;
    /* padding-right: 100px; */
    /* padding: 10px; */
    border: 1px solid #eaeaea;
    /* margin-top: 0%; */
   
}
.boxModel h5{
    border-bottom: 2px #eaeaea solid; 
    padding-bottom: 15px;
    margin: auto;
    margin-bottom: 10px;
}
#sidebar-title{
    margin-top: 10px;
}
.top__list{
    display: flex;
    margin-left: 10px;
    padding-top: 7px;

}
.top__list img{
    width: 20px;
    height: 20px;
    border-radius: 20px !important;
    border: 1px solid #000;
}
.top__list p{
    margin-left: 10px;
    font-size: 10px;
    margin-block: auto;
}

.boxModel2{
    height: 330px;
    
}
#carouselExampleControls{
    height: 250px;
}
.carousel-inner{
    height: 250px;
}


#sidebar-title{
    text-align: center;
}
.col-md-8{
    height: 50px !important;
}
.caro_bar{
    display: flex;
    gap: 70px;
    padding-left: 60px;
    background-color: #fff;
    height: 40px;
    align-items: center;
    font-size: 13px;
}
.caro_bar a{
    text-decoration: none;
    color: #000;
}



.location{
    padding-top: 15px;
    align-items: center;
}

.location img{
    height: 150px;
    width: 100%;
}
.location p{
    text-align: center;
    font-size: 10px;
    margin-top: -6px;
}
.location input{
    height: 25px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.location button {
    height: 25px;
    align-items: center;
    margin-left: 10px;
    border-radius: 4px;
    
    
}
.btn__dark{
    background-color: #000;
    color: #fff;
    align-items: center;
    margin-left: 10px;
    width: 110px;

}

.carts img{
    width: auto;
}





/* cart slide start */

.cart-container{
    display: flex;
    width: auto;
    padding-top: 10px;
}
.cart-container h5{
    display: flex;
}


.box-container{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    /* align-items: center; */
    width: auto;
    gap: 4px;
    /* background-color: #eaeaea; */
}
@media only screen and (max-width:700px){
    .box-container{
        width: 100%;
        display: block;
    }
}

.pbox{
    height: auto;
    position: relative;
    overflow: hidden;
    flex-basis: 33%;
    background-color: #fff;
    width: 175px;
    /* padding-top: 20px; */
    padding-bottom: 10px;
   
}
.icon-sale-label{
    font-size: 12px;
    color: #fff;
    padding: 0px;
    display: block;
    position: absolute;
    top: 10px;
    z-index: 10;
    text-align: left;
    align-items: flex-start !important;

}
.item-info{
    align-content: flex-start !important;
    align-items: flex-start !important;
    text-align: left;
    
}
.item-title a{
    text-decoration: none;
    color: #000;
}

.item-content{
    
}

.rating i{
    
    color: gold;
}

.price-box button{
    height: 25px;
    font-size: 12px;
    padding-bottom: px;
    padding-top: 5px;
    width: 65px;
    
}
.price-box{
    font-size: 12px;
}
.regular-price .price{
    text-decoration: line-through;
}
.offer-price .price{
    font-size: 15px;
    text-decoration: solid black;
    
}



/* footer start*/

.footer{
    background-color: #000;
    padding-top: 20px;
    width: 100%;
    height: 150px;
    text-align: center;
}

.f__content{
    color: #fff;
}

.f__content i{
    color: #fff;
}